:root{
    --primario: #3b3b3b;
    --primario-oscuro: #2a2a2a;
    --secundario: #00ffee;
    --secundario-oscuro: #00e1da;
    --blanco: #fff;
    --negro: #000;
    
    --fuente-principal: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;    
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* 1 rem = 10 px */
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    font-family: var(--fuente-principal);
}

/*
(codigo de arriba): usar siempre en todos los proyectos HTML
principalmente para la adaptabilidad del pantallas ded distintos tispoistivos
*/

/*parametros*/

.center__content{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*globales*/


p { 
    font-size: 1.8rem ;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}


a {
    text-decoration: none;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuente-principal);
    margin: 0;
}

h4{font-family: var(--fuente-principal);}

h1{font-size: 4rem;}

h2{font-size: 3rem}

h3{font-size: 2rem;}

img{
    width: 100%;
}

section{
    padding: 2rem 3rem;
    max-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    color: var(--blanco);
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: var(--primario-oscuro);
}

 /* formulario */
.summary__section{
    background-color: var(--primario-oscuro);    
}

.form__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primario-oscuro);
    padding: 1rem 3rem;
    max-width: fit-content;
    border-radius: 1rem;
}

.form{
    display: flex;
    flex-direction: column;
}

.input__container {
    display: flex;
    flex-direction: column; /* Esto coloca label arriba del input */
    padding: 0.5rem 0;
}

.input__field{
    padding: 0.5rem;
}

.form__actions{
    padding: 0.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* fin formulario */

.summary__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-self: center;
    align-items: center;
}

.counter__container{
    display:block;
    gap: 1rem;
    padding: 2rem;
    width: fit-content;
}

.counter__title{
    text-align: center;    
    color: var(--blanco);
}

.card{
    width: auto;
    padding: 2.5rem;
    background-color: var(--primario-oscuro);
    border-radius: 1rem;
    overflow: hidden;
    max-width: 30rem;
}

.card__title,
.card__description {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.cards__container{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
    max-width: fit-content;
}